
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create city</title>
</head>
<body>
<h1>Create country</h1>
<p>
    <a href="/countries">Country list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-country}" th:object="${country}" method="post">
    <table style="border: 1px solid black">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{countryName}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create country"></td>
            <td><input type="button" onclick="window.location.href='countries'" value="exit"></td>
        </tr>
    </table>
</form>
</body>
</html>